@import './styles/tokens.css';

body,
#root {
  margin: 0;
  background-color: var(--color-sand);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

button,
a,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
}

button:focus,
button:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
  border-color: inherit !important;
}
